.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #9e71f7;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    color: black;
  }